


.div-buttons{
    display: flex;
    justify-content: center;
}
.left{
    margin-top: 20px;
    margin-bottom:20px;
    padding: 5px 5px 10px 6px;
}
.right{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 6px 10px 5px;
}

.div-loading{
    display: flex;  
   justify-content: center;
   align-items: center; 
   width: 100%;
   height: 100vh;
}
.loading-img{
    height: 200px;
    width: 480px;
    margin-right: 100px;
}