//paleta de colores

$color-primary: #002543; 
$color-secundary: #003b50;
$color-third: #255964;
$color-fourth: #5e797b;
$color-five: #60ba06;

//fuentes

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Patrick+Hand+SC&display=swap');
$font1: 'Josefin Sans', sans-serif;
$font2: 'Patrick Hand SC', cursive;
$color-title: white;